:root {
  --ion-color-primary: #4e45e4;
  --ion-color-primary-rgb: 78, 69, 228;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #453dc9;
  --ion-color-primary-tint: #6058e7;

  --ion-color-secondary: #5e5d72;
  --ion-color-secondary-rgb: 94, 93, 114;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #535264;
  --ion-color-secondary-tint: #6e6d80;

  --ion-color-tertiary: #755478;
  --ion-color-tertiary-rgb: 117, 84, 120;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #674a6a;
  --ion-color-tertiary-tint: #836586;

  --ion-color-success: #10b981;
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ea372;
  --ion-color-success-tint: #28c08e;

  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  --ion-color-medium: #707b90;
  --ion-color-medium-rgb: 112, 123, 144;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #636c7f;
  --ion-color-medium-tint: #7e889b;

  --ion-color-light: #f0f3ff;
  --ion-color-light-rgb: 240, 243, 255;
  --ion-color-light-contrast: #283345;
  --ion-color-light-contrast-rgb: 40, 51, 69;
  --ion-color-light-shade: #d3d6e0;
  --ion-color-light-tint: #f2f4ff;

  --ion-background-color: #f9f9ff;
  --ion-text-color: #283345;
  --ion-toolbar-background: rgba(249, 249, 255, 0.8);

  --ion-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
