<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="custom-tab-btn">
      <span class="material-symbols-outlined tab-icon" style="font-variation-settings: 'FILL' 1;">home</span>
      <span class="tab-text">Home</span>
    </ion-tab-button>

    <ion-tab-button tab="meetings" class="custom-tab-btn">
      <span class="material-symbols-outlined tab-icon">mic_none</span>
      <span class="tab-text">Meetings</span>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="custom-tab-btn">
      <span class="material-symbols-outlined tab-icon">settings</span>
      <span class="tab-text">Settings</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
